.saleForOpen {
width: 320px;
position: relative;
margin: 0%;
padding: 0;
}

.saleForOpen-img {
  width: 320px; 
  padding: 0px 10px; 
  margin: 10px auto;
}

.titel-sale {
    position: absolute;
    top: 10px;
    left: 80px;
}

.procent {
    font-size: 70px;
    font-weight: 700;
    color: var(--background-gradient-two);
    position: absolute;
    top: 50px;
    left: 150px;
}

.text-sale-overlay {
    font-size: 16px;
    font-weight: 500;
   position: absolute;
    top: 30px; 
    text-align: center;
    width: 300px;
    margin: 0;
    padding: 0%;
}

.hover-content {
  position: relative;
  display: inline-block;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 180px;
  background-color: rgba(60, 83, 67, 0.695);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition-property: transform;
  cursor: pointer; 
  padding: 0px;
  margin: 10px 10px;
}

.hover-content:hover .hover-overlay,
.hover-content:focus .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.titel-sale,
.procent,
.text {
  margin: 0;
  padding: 10px;
}

.saleForOpen-img {
  width: 100%;
  height: auto;
}
