<section class="footer-section">
<div class="footer container">
    <div class="logo-footer">
      <a href="./index.html"><img class="logo-desktop" src="./images/logo-white.png" alt="Логотип"></a>
    </div>
      <ul class="footer-social list">
      <li class="footer-social-item button">
        <a class="link" id="facebook-link link" target="_blank" href="https://www.facebook.com/profile.php?id=100093483061401&mibextid=LQQJ4d" class="social-link">
          <svg class="mobile-icon-footer">
            <use class="icon-footer" href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item button">
        <a class="link" id="instagram-link link" target="_blank" href="https://instagram.com/kalinovskyi_jewelry?igshid=NTc4MTIwNjQ2YQ==" class="social-link">
          <svg class="mobile-icon-footer">
            <use class="icon-footer" href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="time-work translate" id="timeWork-link">Working Hours: 09:00 - 21:00</p>
    <a class="mail link" href="malto:kalinovskyi.jewelry@gmail.com">
      kalinovskyi.jewelry@gmail.com</a>
    <div class="footer-contact">
      <button id="contactManager-link" class="contact-button button translate" data-modal-open-second data-modal="true" type="button">Связаться с менеджером</button>
    </div>
    <p class="copirate translate" id="copirate-link">All Rights Reserved &copy; 2023. Kalinovskyi jewelry</p>
</div>

</section>