    <div class="gallery swiper translate">
    <ul class="swiper-wrapper">
        <li class="swiper-slide list">
            <img class="gallery-img" src="./images/gallery/agate.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/amazonite.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/ametist.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/ametist2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/ametist3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/aqua_chalcedon.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/aquamarine.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/aquamarine2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/aquamarine3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/black_opal.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/black_pearl.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/black_pearl2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/citrin.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/citrine2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/citrine3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/citrine4.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/coral.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/emerald.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/emerald2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/flourite.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/garnet.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/garnet2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/garnet3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/green_ametist.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/green_ametist2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/green_gold.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/jasper_dolmatin.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/larimar.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/moonstoun.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/moonstoun2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/morganite.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/morganite2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/morganite3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/multi_tourmaline.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/orange_opal.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/peanut_wood.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/peridot.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/peridot2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/peridot3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/prenit2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/prenit3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/prenite.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/rose_pearl.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/rose_pearl2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/rose_pearl3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/ruby.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/ruby2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/ruby3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/saphire.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/saphire2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tanzanit.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tanzanit2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tanzanit3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tanzanit4.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tanzanit5.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tourmaline.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tourmaline2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tourmaline3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tourmaline4.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/tourmaline_sherl.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/turquoise.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/turquoise2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/turquoise3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/turquoise4.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/turquoise5.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/multi_tourmaline.jpg" alt="">
        </li>
    </ul>
    <div class="swiper-pagination"></div>
    <!-- Кнопки навігації -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    
</div>