    <div class="gallery swiper translate">
    <ul class="swiper-wrapper">
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/agate.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/amazonite.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/ametist.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/ametist2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/ametist3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/aqua_chalcedon.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/aquamarine.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/aquamarine2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/aquamarine3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/black_opal.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/black_pearl.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/black_pearl2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/citrin.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/citrine2.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/citrine3.jpg" alt="">
        </li>
        <li class="swiper-slide list">
            <img class="gallery-img" src="/src/images/gallery/citrine4.jpg" alt="">
        </li>
    </ul>
    <div class="swiper-pagination"></div>
    <!-- Кнопки навігації -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    
</div>