<header class="header">
  <div class="header-container container">
    <div class="header-logo desktop-menu animate__animated animate__heartBeat">
      <a href="/src/index.html"><img class="logo-desktop" src="./images/logo-white.png" alt="Логотип"></a>
    </div>
    <nav class="header-nav desktop-menu">
      <!-- Основное меню для таблетов и выше -->
      <ul class="menu list wrap">
        <li><a class="menu-item link translate" id="about-link" href="/src/index.html">About us</a></li>
        <li><a class="menu-item link translate" id="contact-link" href="/src/index.html">Contact</a></li>
        <!-- <li><a class="menu-item link translate" id="catalog-link" href="#catalog">Catalog</a></li> -->
        <li><a class="menu-item link translate" id="stock-link" href="/src/stock.html">Stock</a></li>
        <li><a class="menu-item link translate" id="gallery-link" href='/src/gallery.html'>Gallery</a></li>
        <li><a class="menu-item link translate" id="blogAboutStones-link" href="/src/blog-stouns.html">Blog about stones</a></li>
      </ul>
    </nav>
    <ul class="header-social desktop-menu list">
      <!-- Социальные иконки для таблетов и выше -->
      <li class="header-social-item desktop-menu button">
        <a class="link translate" id="facebook-link link" target="_blank" href="https://www.facebook.com/profile.php?id=100093483061401&mibextid=LQQJ4d" class="social-link">
          <svg class="mobile-icon">
            <use class="icon" href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item desktop-menu button">
        <a class="link translate" id="instagram-link link" target="_blank" href="https://instagram.com/kalinovskyi_jewelry?igshid=NTc4MTIwNjQ2YQ==" class="social-link">
          <svg class="mobile-icon">
            <use class="icon" href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="mobile-menu translate" data-menu>
      <!-- Мобильное меню для мобильных устройств -->
      <div class="menu-container">
        <button type="button" class="header-btn close" data-menu-close>
          <svg class="header-icon close">
            <use class="close-icon" href="./images/sprite.svg#icon-menu-close"></use>
          </svg>
        </button>
        <ul class="mobile-menu-nav-list list">
          <li><a class="mobile-link link translate" id="about-link" href="/src/index.html">About us</a></li>
          <li><a class="mobile-link link translate" id="contact-link" href="/src/index.html">Contact</a></li>
          <!-- <li><a class="mobile-link link translate" id="catalog-link" href="#catalog">Catalog</a></li> -->
          <li><a class="mobile-link link translate" id="stock-link" href="/src/stock.html">Stock</a></li>
          <li><a class="mobile-link link translate" id="gallery-link" href="/src/gallery.html">Gallery</a></li>
          <li><a class="mobile-link link translate" id="blogAboutStones-link" href="/src/blog-stouns.html">Blog about stones</a></li>
        </ul>
        <ul class="mobile-menu-soc-list list">
          <li class="mobile-menu-soc-item">
            <a class="mobile-menu-soc-link link" target="_blank" href="https://instagram.com/kalinovskyi_jewelry?igshid=NTc4MTIwNjQ2YQ==">
              <svg class="mobile-icon-mobile-menu">
                <use class="home-icon-mobile-menu" href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-soc-item">
            <a class="mobile-menu-soc-link link" target="_blank link" href="https://www.facebook.com/profile.php?id=100093483061401&mibextid=LQQJ4d">
              <svg class="mobile-icon-mobile-menu">
                <use class="home-icon-mobile-menu" href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="header-contact header-contact-mobile-menu">
          <button id="contactManager-link" class="contact-button contact-button-mobile-menu  button translate" data-modal-open data-modal="true" type="button">Связаться с менеджером</button>
        </div>
      </div>
    </div>
    <div class="container-button-mobile">
      <button type="button" class="header-btn open button" data-menu-open>
        <svg class="header-icon-mobile-menu">
          <use class="burger-icon" href="./images/sprite.svg#icon-menu-open"></use>
        </svg>
      </button>
    </div>
    <div class="header-logo-mobile animate__animated animate__heartBeat">
      <a href="/src/index.html">
        <img class="logo-mobile" src="./images/logo-white 100x20.svg" alt="Логотип">
      </a>
    </div>
    <div class="header-language">
      <select class="language-select" id="language-select">
        <option id="en-language" value="en">EN</option>
        <option id="ge-language" value="ge">GE</option>
        <option id="ua-language" value="ua">UK</option>
        <option id="ru-language" value="ru">RU</option>
      </select>
    </div>
    <div class="header-contact desktop-menu button-from-desktop">
      <button id="contactManager-link" class="contact-button button translate" data-modal-open-three data-modal="true" type="button">Contact Manager</button>
    </div>
  </div>
</header> 